.vc_custom_1441764814940 {
    margin-bottom: 120px !important;
    padding-top: 100px !important;
}
.vc_custom_1441944181757 {
    margin-bottom: 40px !important;
}
.vc_custom_1443772722218,
.vc_custom_1443772729960 {
    margin-bottom: 25px !important;
}