.vc_custom_1442389105654 {
    padding-top: 120px !important;
}
.vc_custom_1440820560428 {
    background-color: #eeeeee !important;
}
.vc_custom_1446426923578 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.vc_custom_1440583731353 {
    padding-top: 180px !important;
    padding-bottom: 180px !important;
    background-image: url(../images/bg/bg-parallax-service.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1440814609323 {
    padding-top: 110px !important;
    padding-bottom: 95px !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
}
.vc_custom_1440815060127 {
    padding-top: 95px !important;
    padding-bottom: 95px !important;
}
.vc_custom_1440821644053 {
    padding-top: 115px !important;
    padding-bottom: 110px !important;
    background-color: #ededed !important;
}
.vc_custom_1440821446079 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
}
.vc_custom_1441094336528 {
    background-color: #ededed !important;
}
.vc_custom_1442199416594 {
    padding-top: 110px !important;
    padding-bottom: 100px !important;
}
.vc_custom_1440821932067 {
    padding-top: 45px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1440984246360 {
    padding-top: 115px !important;
    padding-bottom: 115px !important;
    background-image: url(../images/azul03.jpg) !important;
        /*-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";*/
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1446427805341 {
    padding-top: 45px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    background-color: #222222 !important;
}
.vc_custom_1440820445589 {
    margin-bottom: 70px !important;
}
.vc_custom_1446621916975 {
    margin-bottom: 30px !important;
}
.vc_custom_1440820585068 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.vc_custom_1438396410753 {
    background-image: url(../images/tab/tab1.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1446622073876 {
    margin-bottom: 40px !important;
}
.vc_custom_1446622085015 {
    margin-bottom: 50px !important;
}
.vc_custom_1440820594011 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.vc_custom_1443915692674 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/development.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1446622133801 {
    margin-bottom: 40px !important;
}
.vc_custom_1446622161468 {
    margin-bottom: 50px !important;
}
.vc_custom_1440820594011 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.vc_custom_1443916951736 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/Web1.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1446622240763 {
    margin-bottom: 40px !important;
}
.vc_custom_1446622256759 {
    margin-bottom: 50px !important;
}
.vc_custom_1440820609034 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.vc_custom_1443915788918 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/mock-up/Support.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.tab {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.Neurocirugia{
    background-image: url(../images/Especialidades/Neurocirugiacolumna.jpg) !important;
}
.Diagnostico{
    background-image: url(../images/Especialidades/Diagnosticotratamiento.jpg) !important;
}
.TerapiaFisica{
    background-image: url(../images/Especialidades/rehabilitacion.jpg) !important;
}
.TumoresCerebrales{
    background-image: url(../images/Especialidades/TumoresCerebrales.jpeg) !important;
}
.Investigacion{
    background-image: url(../images/Especialidades/Investigacion.jpg) !important;
}
.Alzheimer{
    background-image: url(../images/Especialidades/Alzheimer.jpeg) !important;
}




.tab-diseño {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/servicios/diseño.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.tab-redes{
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/servicios/Redes_Sociales.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.tab-desarrollo{
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/servicios/Desarrollo_Web.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.tab-estrategia{
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/servicios/estrategia.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1446622297636 {
    margin-bottom: 40px !important;
}
.vc_custom_1446622307173 {
    margin-bottom: 50px !important;
}
.vc_custom_1440820618259 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.vc_custom_1443915835230 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/mock-up/Branding-Identity-Mock-Up-5-full.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1446622333015 {
    margin-bottom: 40px !important;
}
.vc_custom_1446622435411 {
    margin-bottom: 50px !important;
}
.vc_custom_1446426772176 {
    margin-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: #e9e9e9 !important;
}
.vc_custom_1446426790168 {
    margin-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: #ededed !important;
}
.vc_custom_1446426803769 {
    margin-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: #e9e9e9 !important;
}
.vc_custom_1446426816514 {
    margin-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: #ededed !important;
}
.vc_custom_1446626562445 {
    margin-bottom: 35px !important;
}
.vc_custom_1446625185246 {
    margin-bottom: 20px !important;
}
.vc_custom_1446626443126 {
    margin-bottom: 20px !important;
}
.vc_custom_1442199020596 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}
.vc_custom_1446626527589 {
    margin-bottom: 20px !important;
}
.vc_custom_1446626694783 {
    margin-bottom: 70px !important;
}
.vc_custom_1446427812331 {
    margin-bottom: 30px !important;
}
.vc_custom_1446429146793 {
    margin-bottom: 30px !important;
}
.vc_custom_1446429007563 {
    margin-bottom: 30px !important;
}