.vc_custom_1440384244354 {
    padding-top: 100px !important;
    background-image: url(../images/bg/cta-bg-2.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1440583731353 {
    padding-top: 180px !important;
    padding-bottom: 180px !important;
    background-image: url(../images/bg/bg-parallax-service.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1438658465690 {
    margin-top: 55px !important;
}
.vc_custom_1441772530860 {
    margin-bottom: 20px !important;
}
.vc_custom_1441598791214 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.vc_custom_1438396510904 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1438396410753 {
    background-image: url(../images/tab1.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1443888509645 {
    margin-bottom: 40px !important;
}
.vc_custom_1443905978647 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396524727 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443828251727 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/development.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1443888544445 {
    margin-bottom: 40px !important;
}
.vc_custom_1443888677663 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396533854 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443828513363 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/Web.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1443888563784 {
    margin-bottom: 40px !important;
}
.vc_custom_1443891769333 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396542357 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443828654417 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/Support.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1443888580228 {
    margin-bottom: 40px !important;
}
.vc_custom_1443888632851 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396550526 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443886711066 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/mock-up/Branding-Identity-Mock-Up-5-full.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1443888595176 {
    margin-bottom: 40px !important;
}
.vc_custom_1441609367762 {
    margin-bottom: 50px !important;
}
.vc_custom_1441769529238 {
    margin-top: 0px !important;
}
.vc_custom_1441769539093 {
    margin-top: 0px !important;
}
.vc_custom_1441769545733 {
    margin-top: 0px !important;
}
.vc_custom_1441769551901 {
    margin-top: 0px !important;
}
.vc_custom_1437795195713 {
    margin-bottom: 35px !important;
}


/*=====================
wpb_wrapper
======================*/
.height30px{
    padding: 60px 0px;
}