.vc_custom_1441848254672 {
    padding-top: 120px !important;
    padding-bottom: 100px !important;
    background-image: url(../images/tab/tab-parallax.jpg) !important;
}
.vc_custom_1438396510904 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443889003449 {
    background-image: url(../images/tab/tab1.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1441856030381 {
    margin-bottom: 40px !important;
}
.vc_custom_1441619994209 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396524727 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443889141625 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/mock-up/development.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1441855802460 {
    margin-bottom: 40px !important;
}
.vc_custom_1441620017777 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396533854 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443889043138 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/mock-up/Web.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1437356268910 {
    margin-bottom: 40px !important;
}
.vc_custom_1441620032968 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396542357 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443889161120 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/mock-up/Support.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1441856011655 {
    margin-bottom: 40px !important;
}
.vc_custom_1441620050763 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396550526 {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background-color: #eeeeee !important;
}
.vc_custom_1443889096388 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url(../images/mock-up/Branding-Identity-Mock-Up-5-full.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1441855982165 {
    margin-bottom: 40px !important;
}
.vc_custom_1441620075952 {
    margin-bottom: 50px !important;
}
.vc_custom_1438396251713 {
    margin-bottom: 70px !important;
}
.vc_custom_1437358896726 {
    margin-bottom: 10px !important;
}